@import "~@srcery-colors/srcery-palette";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "~mapbox-gl";
* {
    font-family: "Inter", sans-serif;
}

.measure-body {
    max-width: 80rem;
}

.center-body {
    display: block;
    float: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem;
    color: var(--srcery-palette-primary-bright-white);
    background: var(--srcery-palette-secondary-xgray3);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    box-shadow: 4px 4px var(--srcery-palette-secondary-xgray1);
}

html {
    background: var(--srcery-palette-primary-black);
}

.nav-button {
    flex: 1;
    background: var(--srcery-palette-secondary-xgray5);
    color: var(--srcery-palette-primary-bright-white);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray2);
    height: 2.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: normal;
    position: relative;
    transition: box-shadow 0.4s ease-in-out;
}

.nav-button:hover {
    box-shadow: 0 0 15px 5px #68a8e400;
}
.nav-button:hover {
    box-shadow: 0 0 15px 5px #68a8e480;
}
.nav-button.active {
    background: var(--srcery-palette-primary-blue);
}

.nav-button:not(:last-child) {
    margin-right: 0.5rem;
}

.list-button {
    background: var(--srcery-palette-secondary-xgray5);
    color: var(--srcery-palette-primary-hard-white);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray2);
    height: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: normal;
    position: relative;
}

.table-div {
    display: flex;
    flex-direction: column;
    background: var(--srcery-palette-secondary-xgray5);
    color: var(--srcery-palette-primary-hard-white);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5rem 0rem;
    padding: 0.5rem 0.5rem;
}

.form-div {
    display: flex;
    flex-direction: column;
    background: var(--srcery-palette-secondary-xgray5);
    color: var(--srcery-palette-primary-hard-white);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    height: 20rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.form-div-h {
    display: flex;
    flex-direction: row;
    background: var(--srcery-palette-secondary-xgray5);
    color: var(--srcery-palette-primary-hard-white);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    height: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.form-section-div {
    flex: auto;
    background: var(--srcery-palette-secondary-xgray3);
    color: var(--srcery-palette-primary-hard-white);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray1);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    justify-content: center;
    text-align: center;
    vertical-align: center;
    padding: 0.5rem 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.form-section-div-h {
    display: flex;
    background: var(--srcery-palette-secondary-xgray3);
    color: var(--srcery-palette-primary-hard-white);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray1);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    justify-content: center;
    text-align: center;
    vertical-align: center;
    align-items: center;
    padding: 0.5rem 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.form-input {
    position: relative;
    font-size: 1rem;
    background: var(--srcery-palette-secondary-xgray3);
    background-color: var(--srcery-palette-secondary-xgray3);
    color: var(--srcery-palette-primary-hard-white);
    border-top: none;
    border-bottom: 1px solid var(--srcery-palette-secondary-hard-black);
    border-left: none;
    border-right: none;
    box-shadow: none;
    outline: none;
    width: 100%;
}

.form-label {
    font-size: 1rem;
}

.form-submit-button {
    background: var(--srcery-palette-secondary-xgray3);
    color: var(--srcery-palette-primary-hard-white);
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray1);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    height: 2rem;
    width: 6rem;
    transition: box-shadow 0.4s ease-in-out;
}
.form-submit-button:hover {
    box-shadow: 0 0 15px 5px #68a8e400;
}
.form-submit-button:hover {
    box-shadow: 0 0 15px 5px #68a8e480;
}

.mi {
    display: inline-block;
}

.form-submit-button-search {
    background: var(--srcery-palette-secondary-xgray3);
    color: var(--srcery-palette-primary-hard-white);
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray1);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    height: 2.5rem;
    width: 6rem;
    transition: box-shadow 0.4s ease-in-out;
}
.form-submit-button-search:hover {
    box-shadow: 0 0 15px 5px #68a8e400;
}
.form-submit-button-search:hover {
    box-shadow: 0 0 15px 5px #68a8e480;
}

.center {
    display: flex;
    float: none;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.nodepage {
    display: flex;
    align-items: center;

    padding: 0.25rem 0.25rem;

    .left {
        width: 25rem;
        background: var(--srcery-palette-secondary-xgray5);
        box-shadow: 2px 2px var(--srcery-palette-secondary-xgray2);
        border: 1px solid var(--srcery-palette-secondary-hard-black);
        padding: 0.25rem 0.25rem;
    }

    .vr {
        display: block;
        border-left: 2px dotted var(--srcery-palette-secondary-hard-black);
        margin: 0.25rem 1rem;
        align-self: stretch;
    }

    .right {
        flex: 1;
        background: var(--srcery-palette-secondary-xgray5);
        box-shadow: 2px 2px var(--srcery-palette-secondary-xgray2);
        border: 1px solid var(--srcery-palette-secondary-hard-black);
        padding: 0.25rem 0.25rem;
    }
}

.settingspage {
    display: flex;
    align-items: center;

    padding: 0.25rem 0.25rem;

    .left {
        flex: 1;
        background: var(--srcery-palette-secondary-xgray5);
        box-shadow: 2px 2px var(--srcery-palette-secondary-xgray2);
        border: 1px solid var(--srcery-palette-secondary-hard-black);
        padding: 0.25rem 0.25rem;
    }

    .vr {
        display: block;
        border-left: 2px dotted var(--srcery-palette-secondary-hard-black);
        margin: 0.25rem 1rem;
        align-self: stretch;
    }

    .right {
        flex: 1;
        background: var(--srcery-palette-secondary-xgray5);
        box-shadow: 2px 2px var(--srcery-palette-secondary-xgray2);
        border: 1px solid var(--srcery-palette-secondary-hard-black);
        padding: 0.25rem 0.25rem;
    }
}

.margin-below1 {
    margin-bottom: 1rem;
}

.title-format {
    font-size: 0.8rem;
    font-style: normal;
    font-stretch: condensed;
    font-weight: 700;
}

.header-div {
    margin-bottom: 0.5rem;
}

.hr-solid {
    border-top: none;
    border-bottom: 1px solid var(--srcery-palette-secondary-hard-black);
    margin: 1rem 0rem;
}

.hr-dotted {
    border-top: none;
    border-bottom: 2px dotted var(--srcery-palette-secondary-hard-black);
    margin-bottom: 1rem;
}

.all-users-div {
    background: var(--srcery-palette-secondary-xgray6);
    margin-top: 0.125rem;
    padding-top: 0.125rem;
    margin-bottom: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray8);
}

.users-li {
    background: var(--srcery-palette-secondary-xgray10);
    list-style-type: none;
}

.map-wrapper {
    height: 40rem;
    overflow: hidden;
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    position: relative;
    margin: 0.25rem 0.25%;
    padding: 0.25rem 0.5rem;
    background: var(--srcery-palette-secondary-xgray5);
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray2);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.settings-box {
    display: flex;
    flex-direction: column;
    background: var(--srcery-palette-secondary-xgray5);
    color: var(--srcery-palette-primary-hard-white);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    height: 20rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

.settings-div {
    flex: auto;
    display: flex;
    flex-direction: row;
    background: var(--srcery-palette-secondary-xgray3);
    color: var(--srcery-palette-primary-hard-white);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray1);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    justify-content: center;
    text-align: center;
    vertical-align: center;
    padding: 0.5rem 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.settings-invisi-div {
    flex: auto;
    display: flex;
    flex-direction: row;
    background: transparent;
    color: var(--srcery-palette-primary-hard-white);
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    padding: 0.5rem 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.settings-input {
    position: relative;
    font-size: 1rem;
    background: var(--srcery-palette-secondary-xgray3);
    background-color: var(--srcery-palette-secondary-xgray3);
    color: var(--srcery-palette-primary-hard-white);
    border-top: none;
    border-bottom: 1px solid var(--srcery-palette-secondary-hard-black);
    border-left: none;
    border-right: none;
    box-shadow: none;
    outline: none;
}

.settings-label {
    font-size: 1rem;
    margin: 0rem 0.5rem;
}

.settings-submit-button {
    background: var(--srcery-palette-secondary-xgray3);
    color: var(--srcery-palette-primary-hard-white);
    box-shadow: 2px 2px var(--srcery-palette-secondary-xgray1);
    border: 1px solid var(--srcery-palette-secondary-hard-black);
    padding: 0.4rem 0.5rem;
    margin: 0.5rem 0.5re;
    transition: box-shadow 0.4s ease-in-out;
}

.settings-submit-button:hover {
    box-shadow: 0 0 15px 5px #68a8e400;
}
.settings-submit-button:hover {
    box-shadow: 0 0 15px 5px #68a8e480;
}
